* {
	-webkit-font-smoothing: antialiased;
}

body {
	font-family: 'Segoe UI', Calibri, sans-serif;
}

h1 {
	font-size: 48px;
}

h1:first-letter {
	color: red;
}

#question {
	margin: 5% auto 0 auto;
	width: 40%;
}

#question div {
	font-size: 32px;
	line-height: 48px;
	cursor: pointer;
}

#question div:hover {
	border-left: solid 6px red;
	padding-left: 9px;
}